<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <logging>
    <target value="file" file="log/Mojito.log" maxRollBackups="5" maxRollTime="1m" />
    <level value="Info" />
    <pattern value="%date [%thread] %level %logger - %message%newline (%file: %line) %stack" />
  </logging>
</configuration>